<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_dc11c047da0d4b62b12f088d4b6e7f5f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_dc11c047da0d4b62b12f088d4b6e7f5f" ></div>
        
</body>
<script>    
    
            var map_dc11c047da0d4b62b12f088d4b6e7f5f = L.map(
                "map_dc11c047da0d4b62b12f088d4b6e7f5f",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7b10450aa8f74b4fbae82783dff3afca = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_dc11c047da0d4b62b12f088d4b6e7f5f);
        
    
            var marker_b38ebc354b604dcd8d3a0ba261b448fc = L.marker(
                [5.470186022646822, -0.14648616311895066],
                {}
            ).addTo(map_dc11c047da0d4b62b12f088d4b6e7f5f);
        
    
            marker_b38ebc354b604dcd8d3a0ba261b448fc.bindTooltip(
                `<div>
                     <b>this is Not Updated pin.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4b63bd0919ca48ecad12e3e192629662 = L.marker(
                [16.508428712778265, 80.62315408770003],
                {}
            ).addTo(map_dc11c047da0d4b62b12f088d4b6e7f5f);
        
    
            marker_4b63bd0919ca48ecad12e3e192629662.bindTooltip(
                `<div>
                     <b>this is Not Updated pin.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3d57a02fe4cc4b3faad07c86806b8e0e = L.marker(
                [28.661906525753476, 77.22452329872895],
                {}
            ).addTo(map_dc11c047da0d4b62b12f088d4b6e7f5f);
        
    
            marker_3d57a02fe4cc4b3faad07c86806b8e0e.bindTooltip(
                `<div>
                     <b>this is Not Updated pin.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_982d5e4f7c7a4ce5900dfad40e380f33 = L.marker(
                [45.0, 23.0],
                {}
            ).addTo(map_dc11c047da0d4b62b12f088d4b6e7f5f);
        
    
            marker_982d5e4f7c7a4ce5900dfad40e380f33.bindTooltip(
                `<div>
                     <b>this is Not Updated pin.
                 </div>`,
                {"sticky": true}
            );
        
</script>